<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title><%= @titulo ||= "Curso Rails - Santiago Ponce" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- contenedor -->
<div class="container">
  <!-- Cabecera -->
  <div class="row">
    <!-- Logotipo -->
    <div class="span2">
      <%= link_to image_tag("rails.png", :size => "200x200"), {:action => "index"} %>
    </div>
    <!-- Fin Logotipo -->
    <div class="span6 offset2">
      <!-- Menú de navegación -->
      <ul class="nav nav-pills">
        <li class="active">
          <%= link_to "Inicio", {:action => "index"} %>
        </li>
        <li>
          <%= link_to "¿Quiénes Somos?", {:action => "quienes_somos"} %>
        </li>
        <li>
          <%= link_to "Servicios", {:action => "servicios"} %>
        </li>
        <li>
          <%= link_to "Contacto", {:action => "contacto"} %>
        </li>
        <li>
          <%= link_to "Localización", {:action => "localizacion"} %>
        </li>
      </ul>
      <!-- Fin de Menú de navegación -->
    </div>
  </div>
  <!-- Fin Cabecera -->
  <!-- Intro -->
  <% if hay_banner? %>
    <%= yield :imagen %>
  <% else %>
    <div class="row hero-unit espacio">
      <div class="span4">
        <h3>Curso Ruby on Rails</h3>
        <p>By Santiago Ponce</p>
        <p></p>
        <%= button_to "Entrar", {:action => "index"}, :class => "btn btn-large btn-primary" %>
      </div>
      <div class="span6">
        <%= image_tag "picture.png", :size => "500x500" %>
      </div>
    </div>
  <% end %>  
  <!-- Fin Intro -->
  <div class="row">
    <div class="span4">
      <h2>¿Quiénes Somos?</h2>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
    <div class="span4">
      <h2>Localización</h2>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
    <div class="span4">
      <h2>Servicios</h2>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
  </div>
<div class="row">
<div class="span9">
<%= yield %>
</div>
</div>
</div>
</body>
</html>