<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= @titulo ||= "Empresa ROR - su única opción" %></title>
  <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script language="javascript">
    $(document).ready(
      function() {
        $("#pikame").PikaChoose();
      });
  </script>
</head>
<body>
  <!-- Contenedor -->
  <div id="container">
    <!-- Cabecera -->
    <header>
      <!-- Logo -->
      <%= link_to (image_tag "rails.png", :size => "100x100", :alt => "logo"), {:action=>"index"}, :id=>"logo" %>
      <!-- Fin logo -->
      <!-- Menú de Navegación -->
      <nav>
        <ul>
          <li><%= link_to "Inicio", home_index_path %></li>
          <li><%= link_to "¿Quiénes Somos?", :action => "quienes_somos" %></li>
          <li><%= link_to "Servicios", :action => "servicios" %></li>
          <li><%= link_to "Localización", :action => "localizacion" %></li>
          <li><%= link_to "Contacto", :action => "contacto" %></li>
        </ul>
      </nav>
      <!-- Final menú -->
    </header>
    <!-- Final cabecera -->
    <!-- Intro -->
    <div id="intro">
      <div class="group_banner_right">
        <%= image_tag "picture.png", :size => "550x316", :alt => "banner" %>
      </div>
      <header class="group_banner_left">
        <hgroup>
          <h1>Empresa ROR</h1>
          <h2>"No más HorRORes"</h2>
        </hgroup>
      </header>
    </div>
    <!-- Fin Intro -->
    <!-- Secciones Destacadas -->
    <div class="holder_content">
      <section class="group1">
        <h3>¿Quiénes Somos?</h3>
        <p>En esta sección puede tratar de encontrar quienes somos, aunque
        en realidad difícilmente se enterará. Verá, la identidad de una persona
        es un concepto subjetivo y arbitrario, en donde se intenta reducir la
        totalidad de lo que constituye un ser humano particular a unas cuantas
        palabras usadas en un nombre, o en un número de identificación ciudadana
        o de afiliación a un servicio de salud. Igual, no es interesante saber
        nuestras identidades</p>
        <%= link_to "WTF man...", {:action => "quienes_somos"}, :class => "read_more" %>
      </section>
      <section class="group2">
        <h3>Servicios</h3>
        <p>En esta sección averiguará cuales son los servicios que ofrecemos.
        ¿Cuáles podrán ser? ¿Seremos una empresa de outsourcing?
        ¿Desarrolladores de aplicaciones web y móviles? ¿Un grupo de hackers 
        violentos? ¿Unos estafadores poniendo una página web como fachada?
        Nosotros también nos hacemos preguntas, pero tranquilo, tenga la
        seguradad de que nosotros con certeza nos miraremos confusos al oir la 
        pregunta: ¿Qué servicios ofrecen?
        <%= link_to "This can't be...", {:action => "servicios"}, :class => "read_more" %>
        </p>
      </section>
      <section class="group3">
        <h3>Contacto</h3>
        <p>En esta sección sabrá como contactarnos. La verdad pensabamos
        implementar alguna experiencia interactiva que involucrara alguna forma
        de realidad virtual en donde se podría realizar una conversación cara
        a cara con total inmersión, pero bueno eso es muy caro, muy difícil y 
        francamente no creemos poder hacerlo así que nos conformamos con un
        sistema de envio de correos bastante deficiente.</p>
        <%= link_to "I wanna leave...", {:action => "contacto"}, :class => "read_more" %>
      </section>
    </div>
    <!-- Fin secciones destacadas -->
    <!-- Empieza contenido dinámico --> 
    <div class="holder_content1">
      <section class="group6">
        <%= yield %>
      </section>
    </div>
    <!-- Final del contenido dinámico -->
  </div>
</body>
</html>
